{% extends 'base_front.html.twig' %}

{% block title %} Completer Inscription - AssoBook{% endblock %}

{% block stylesheets %}<link rel="stylesheet" href="{{ asset('assets/css/style.css') }}">{% endblock %}

{% block body %}
    <h1>Completez votre profil</h1>
    {{ form(form) }}
{% endblock %}
