{{ encore_entry_link_tags('amsify.suggestags') }}


<div class="row info-other-association ml-md-4 px-3 py-4  mt-5 shadow-sm bg-white">
    <div class="col-12">

        <input type="text" aria-label="tags" id="suggestions"
               value="{% for tag in app.user.tags %} {{ tag.tag }}, {% endfor %}"
               placeholder="Vos Tags"
               class="form-control">
    </div>
    <div class="col-12">
        <button class="btn btn-form-blue text-white mt-1" id="validateTags"> Valider mes Tags</button>
    </div>

    <div class="col-12 mt-5">
        <ul id="resultMatch" class="list-group">
        </ul>
    </div>
</div>


<script src="https://code.jquery.com/jquery-3.3.1.min.js"></script>
{{ encore_entry_script_tags('suggestions') }}
<script src="{{ asset('assets/javascript/jquery.amsify.suggestags.js') }}"></script>

