<h1>Reintialisation de votre mot de passe</h1><br>

Bonjour,<br><br>Une demande de réinitialisation de mot de passe a été effectuée pour le site <strong>Assobook</strong>. Veuillez cliquer sur le lien suivant : {{ url }}