<form method="post" action="{{ path('publication_delete', {'id': publication.id}) }}" onsubmit="return confirm('Etes-vous sûr de vouloir supprimer cette publication ?');">
    <input type="hidden" name="_method" value="DELETE">
    <input type="hidden" name="_token" value="{{ csrf_token('delete' ~ publication.id) }}">
    {% if app.user.association.id == publication.association.id %}
    <button class="btn btn-danger">Supprimer la publication</button>
    {% endif %}
</form>
