<!DOCTYPE html>

<title>Modifier la Publication</title>

{% block body %}
    {% if app.user.association.id == publication.association.id %}
    <h1>Modifier</h1>
    {% elseif %}

    {{ include('publication/_form.html.twig', {'button_label': 'Update'}) }}

    <a href="{{ path('publication_index') }}">Retour aux publications</a>

    {{ include('publication/_delete_form.html.twig') }}
{% endblock %}
