{% extends 'base_front.html.twig' %}

{% block title %}Mes publications - AssoBook{% endblock %}

{% block stylesheets %}
    {{ parent() }}
{% endblock %}

{% block body %}
    <h1>Mes publications</h1>
    <p>Vous n'avez pas de publications actuellement, vous pouvez en créer une dès maintenant.</p>
    <div>
        <button>Ajouter une publication</button>
    </div>
{% endblock %}
