{% extends 'base_front.html.twig' %}

{% block title %}Mes publications - AssoBook{% endblock %}

{% block stylesheets %}
    {{ parent() }}
{% endblock %}

{% block body %}
    <p>Vous n'avez pas de publications actuellement, vous pouvez en créer une dès maintenant.</p>
    <div>
        <h1>Ajouter une publication</h1>
    </div>
{% endblock %}
