{% extends 'base_front.html.twig' %}

{% block title %}S'inscrire - AssoBook{% endblock %}

{% block stylesheets %}<link rel="stylesheet" href="{{ asset('assets/css/formAuth.css') }}">{% endblock %}

{% block body %}
    <div class="box">
        <div id="cercle"><a href="{{ path('default_index') }}">X</a></div>
        {{ form_start(form) }}
            <h1>Inscription</h1>
        {{ form_end(form) }}
    </div>
{% endblock %}
