<!DOCTYPE html>

<title>Chat index</title>

{% block body %}
    <h1>Chat index</h1>

    <table class="table">
        <thead>
        <tr>
            <th>Id</th>
            <th>Message</th>
            <th>actions</th>
        </tr>
        </thead>
        <tbody>

        {% for chat in chats %}
            <tr>

                <td>

                </td>
            </tr>
        {% else %}
            <tr>
                <td colspan="3">no records found</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

    <a href="{{ path('chat_new') }}">Create new</a>
{% endblock %}
