<!DOCTYPE html>

<title>Chat</title>

{% block body %}
    <h1>Chat</h1>

    <table class="table">
        <tbody>
            <tr>
                <th>Id</th>
                <td>{{ chat.id }}</td>
            </tr>
            <tr>
                <th>Message</th>
                <td>{{ chat.message }}</td>
            </tr>
        </tbody>
    </table>

    <a href="{{ path('chat_index') }}">back to list</a>

    {{ include('chat/_delete_form.html.twig') }}
{% endblock %}
