.leaflet-control-zoom-in, .leaflet-control-zoom-out {
  color: #0a0a0a !important;
}
.association {
  cursor: pointer;
  margin-bottom: 2rem;
  transition: box-shadow .3s;
  padding: 0 20px;
}

.association:hover {
  box-shadow: 0 0 10px rgba(0,0,0, .1);
}

.association h4 {
  margin: 1rem 0 0.5rem 0;
}

.association p {
  margin: 0 0 1rem 0;
}

.association img {
  width: calc(100% + 40px);
  margin-left: -20px;
  display: block;
}

.container-cart {
  display: grid;
  grid-template-columns: 7fr 4fr;
}

.list {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-column-gap: 30px;
  padding: 0 30px;
}

.map {
  background-color: #000000;
  position: sticky !important;
  top: 0;
  right: 0;
  left: 0;
  height: 100vh;
  margin-right: 20px;
}

.marker.is-active {
  background-color: red;
}