@import "variables";

body {
    background: url("/assets/images/front/bcgModal.png") no-repeat center;
    background-size: cover;
}

.container, .box {
    height: 100% !important;
}

.box {
    form {
        width: 50%;
        position: relative;
        padding: 20px;
        border: 2px solid $low-blue;
        border-radius: 5px;
        background-color: $white;

        h1 {
            font-size: 25px;
            text-align: center;
            color: $high-red;
            margin-bottom: 20px;
        }

        input {
            border-radius: 20px;
            margin-bottom: 20px;
            padding: 7px 20px;

            &::placeholder {
                opacity: 0.5;
            }
        }

        button {
            border-radius: 20px;
            border: 2px solid $high-blue;
            width: 100%;
            padding: 5px 0;
            background-color: $white;
            margin-bottom: 10px;
            color: $low-grey;
            cursor: pointer;
        }
    }
}

#adherent_birthday::placeholder{
    opacity: 0.5;
}

.forgetmdp {
    font-size: 13px;
    text-decoration: underline;
}

.column_flex {
    display: flex;
    flex-direction: column;
}

.box p {
    font-size:13px;
}

.accueil {
    text-decoration: none !important;
    color:$white;
    font-size:15px;
}

#cercle {
    display:flex;
    justify-content: center;
    padding: 3px;
    font-size:15px;
    color: $white;
    width: 30px;
    height: 30px;
    border-radius: 20px;
    background: $low-blue;
    cursor:pointer;
    position:absolute;
    left:97%;
    top:-6%;
    a {
        color:$white;
        text-decoration: none;
    }
}

#register_roles, #adherent_gender {
    text-align:center;
    label {
        padding: 10px;
    }
}

.fullname_inline {
    display: flex;
    justify-content: space-between;
    div {
        width:48%;
    }
}

#adherent_birthday {
    width: 100%;
    color: $high-grey;
}

.notice {
    transform: translateY(110px);
    display: flex;
    justify-content: center;
}

.alert {
    width: 100%;
    display: flex;
    justify-content: center;
    text-align: center;
}