@import "variables";

.row {
  margin: 40px 0;
}

h2 {
  color: $high-red;
}
.form-control{
  border-radius: 20px;
}
textarea.form-control{
  resize: none;
  height: 200px;
}
input[type=submit]{
  margin-top: 15px;
  border: 1px dashed $low-grey;
  transition: all linear 0.2s;
  &:hover{
    border: 1px solid $low-grey;
    background-color: $low-grey;
    color: white;

  }
}

/* Section STEP */

.how-section1 {
  margin-top: -15%;
  padding: 10%;
}
.how-section1 h4 {
  color: $ref-blue;
  font-size: 30px;
}
.how-section1 .row {
  margin-top: 10%;
}
.how-img {
  text-align: center;
}
.how-img img {
  width: 40%;
}


/* Banner */

#panel {
  position: relative;
  width: 100%;
  overflow: hidden;
  clear: both;
  background: $ref-blue;
}

#panel .container {
  position: relative;
}
#panel .flex-column {
  overflow: hidden;
}
