@import "assets/styles/variables";

%banner-size{
  width: 100%;
}

%flex {
  display: flex;
  justify-content: center;
}

%p {
  margin:0;
}
.banner-photo
{
  @extend %banner-size;
  height: 180px;
  display:flex;
  justify-content:center;
  div {
    &:first-child{
      width: 100%;
      height: 100%;
      background: url("/assets/images/front/event.jpg") no-repeat center;
    }
    &:nth-child(2){
      position: absolute;
      top: 115px;
      width: 110px;
      height: 110px;
      border-radius: 100px;
      border: 5px solid $medium-grey;
      background-clip: padding-box;
      img{
        width:100px;
      }
    }
    &:last-child{
      position: absolute;
      top: 230px;
      font-size:20px;
      p{
        @extend %p
      }
    }
  }
}

.banner-button {
  @extend %banner-size;
  @extend %flex;
  height: 60px;
  div {
    @extend %flex;
    flex-direction: column;
    width: calc((100%)/3);
    &:first-child{
      background-color: $medium-blue;
    }
    &:nth-child(2){
      background-color: $low-red;
    }
    &:last-child{
      background-color: $low-yellow;
    }
    &:hover {
      opacity: 0.8;
      transition-duration: 0.4s;
    }
    a{
      text-decoration: none !important;
    }
    p{
      @extend %flex;
      @extend %p;
      color: $white;
    }
  }
  margin-bottom: 70px;
}
