{# Élément à garder #}

{#
<div><p id="text" data-id="id" data-elem="banner" contenteditable>{{ app.user.adherent ? app.user.adherent.firstname : app.user.association.name }}</p></div>
 <div><img src="{{ asset('assets/images/icons/user.png') }}" alt="user"></div>
 #}