{% set array = [['☆','Mes événements'],['♥', app.user.adherent ? "Mes associations" : "Mes followers"],['✎','Mes publications']] %}
<div class="banner-photo">
    <div></div>
    <div><img src="{{ asset('assets/images/icons/user.png') }}" alt="user"></div>
    <div><p id="text" data-id="id" data-elem="banner" contenteditable>{{ app.user.adherent ? app.user.adherent.firstname : app.user.association.name }}</p></div>
</div>
<div class="banner-button">
    {% for elem in array %}
        <div>
            <a href="#">
                <p>{{ elem[0] }}</p>
                <p>{{ elem[1] }}</p>
            </a>
        </div>
    {% endfor %}
</div>
