<div class="sidebar col-md-3">
    <hr>
    <div>
        <img src="{{ asset('assets/images/icons/id-card.svg') }}">
        <p>{{ app.user.adherent.firstname }}</p>
        <p>{{ app.user.adherent.lastname }}</p>
    </div>
    <div>
        <img src="{{ asset('assets/images/icons/link.svg') }}">
        <p>suit : 0 association(s)</p>
    </div>
    <div>
        <span>Modifier mot de passe</span>
    </div>
</div>