{% extends 'base_front.html.twig' %}

{% block title %}Accueil{% endblock %}

{% block stylesheets %}
{{ parent() }}
{{ encore_entry_link_tags('hiwFront') }}
{% endblock %}

{% block body %}
<section class="jumbotron text-center">
  <div class="container">
    <h1 class="title">Comment ça marche ?</h1>
    <p class="lead text-muted">
      Assobook est une plateforme sociale dédiée aux associations. Elle s'adapte à tout type d'associations, que ce soit
      à but lucratif ou non, humanitaire, dédiée au sauvetage des animaux, aux passionnés de bretzel..
      <br>
      Elle est également ouverte aux bénévoles souhaitant se renseigner ou rejoindre une association, elle permets une
      mise en relation très simplifiée et une expérience unique dans ce domaine !
    </p>
  </div>
</section>

<section>
  <div class="container">
    <div class="row align-middle">
      <div class="col-md-6 col-lg-4 column">
        <div class="card gr-1">
          <div class="txt">
            <h1>Bénévole ou association</h1>
            <p>Assobook comprends aussi bien des utilisateurs souhaitant se divertir que des associations pour répondre
              aux besoins de chacun.</p>
          </div>
          <div class="ico-card">
            <i class="bi bi-people"></i>
          </div>
        </div>
      </div>
      <div class="col-md-6 col-lg-4 column">
        <div class="card gr-2">
          <div class="txt">
            <h1>Calendrier</h1>
            <p>Gérez le calendrier de votre association et mettez votre fil d'actualité à jour pour tenir vos bénévoles
              au courant !</p>
          </div>
          <div class="ico-card">
            <i class="bi bi-calendar-date"></i>
          </div>
        </div>
      </div>
      <div class="col-md-6 col-lg-4 column">
        <div class="card gr-3">
          <div class="txt">
            <h1>Toujours plus</h1>
            <p>Recherchez les associations et les événements auxquels vous voulez participer et suivez les afin d'être
              au courant de toutes leur activités</p>
          </div>
          <div class="ico-card">
            <i class="bi bi-search"></i>
          </div>
        </div>
      </div>

    </div>
  </div>
</section>

<section>
  <div class="container p-5">
    <div class="row text-center">
      <div class="col">
        <div class="counter">
          <i class="bi bi-person-circle"></i>
          <h2 class="timer count-title count-number" data-to="100" data-speed="1500"></h2>
          <p class="count-text">Nos clients</p>
        </div>
      </div>
      <div class="col">
        <div class="counter">
          <i class="bi bi-image-alt"></i>
          <h2 class="timer count-title count-number" data-to="1700" data-speed="1500"></h2>
          <p class="count-text">Evenéments</p>
        </div>
      </div>
      <div class="col">
        <div class="counter">
          <i class="bi bi-emoji-laughing"></i>
          <h2 class="timer count-title count-number" data-to="157" data-speed="1500"></h2>
          <p class="count-text">Commentaires</p>
        </div>
      </div>
    </div>
  </div>
</section>

{{ include("element/footer.html.twig") }}
{% block javascripts %}
{{ encore_entry_script_tags("counter") }}
{% endblock %}
{% endblock %}